---
import ManagementLayout from "../../layouts/ManagementLayout.astro";
import { ChangePasswordForm } from "../../components/auth/ChangePasswordForm";

// TODO: Check if user is authenticated
// Protected route - requires authentication
// const session = Astro.locals.session;
// if (!session) {
//   return Astro.redirect("/auth/login?redirect=/auth/change-password");
// }
---

<ManagementLayout title="Change Password - 10x Quiz Stack">
  <div class="py-8">
    <ChangePasswordForm client:load />
  </div>
</ManagementLayout>
